<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.dell.escaperoom">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:name=".Logic.MyApplication"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_esc_icon"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:supportsRtl="false"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id"
            tools:replace="android:value" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".RoomActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".ChemistryActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".LampActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".SimonSaysActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".PuzzleActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".HintActivity"
            android:screenOrientation="landscape" />
        <activity
            android:name=".FindDiffPicActivity"
            android:screenOrientation="landscape" />
        <activity android:name=".RecordsActivity" />
        <activity
            android:name=".WinActivity"
            android:hardwareAccelerated="false"
            android:screenOrientation="landscape" />
        <activity android:name=".InstructionActivity"
            android:screenOrientation="portrait"/>

        <receiver
            android:name=".Logic.ConnectivityReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>


    </application>

</manifest>